form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;

    label {
        font-size: 16px;
        font-weight: 700;
        margin-top: 10px;
    }

    input, textarea {
        all: unset;
        background-color: rgb(228, 228, 228);
        font-size: 14px;
    }

    input {
        width: 240px;
        height: 35px;
        padding-left: 10px;
    }

    textarea {
        resize: none;
        height: 200px;
        padding: 10px;
    }

    button {
        all: unset;
        margin: 0 auto;
        margin-top: 15px;
        background-color: black;
        color: white;
        width: fit-content;
        padding: 7px 12px;
        font-size: 14px;
        cursor: pointer;
    }
}